

$primary-color: var(--color-green-500);
$primary-light-color: var(--color-green-400);
$border-color: color-mixin(in oklab, var(--color-green-500) 25%, transparent);
$secondary-color: var(--color-green-100);